* text=auto

*.md text eol=lf
*.mkd text eol=lf

*.sh text eol=lf
*.rc text eol=lf
*.awk text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.vbs text eol=crlf

update-binary text eol=lf
updater-script text eol=lf

apps text eol=lf
wcsm text eol=lf

*.prop text eol=lf
*.properties text eol=lf
